.grid-container {
    border: 1px solid red;
    margin: 1rem;
    padding: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: minmax(100px, 300px);
}

.grid-container .item {
    background-color: aqua;
    border: 1px solid red;
}